.product-form {
  width: 30rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  font: inherit;
  border-radius: 3px;
}
button {
  font: inherit;
  border: 1px solid #ccc;
  background: white;
  border-radius: 3px;
}

button:hover,
button:active {
  color: #6200ff;
}
